<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AppointmentDrop.Properties.Settings.XtraSchedulingConnectionString"
            connectionString="Data Source=ZAYTSEV_XP;Initial Catalog=XtraScheduling;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="AppointmentDrop.Properties.Settings.BeautyCenterConnectionString"
            connectionString="Data Source=zaytsev_xp;Initial Catalog=BeautyCenter;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>